@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Http;
@using FilmHouse.App.Presentation.Web.UI.Models;
@using FilmHouse.App.Presentation.Web.UI.Models.Components;

@model FilmHouse.App.Presentation.Web.UI.Models.AlbumIndexViewModel;

@{
    ViewBag.Title = "专辑";
    ViewBag.PageType = 2;
    ViewBag.NavType = 4;
}

<div class="panel panel-body text-center no-padding">
    <h4>专辑</h4>
</div>

<div class="panel panel-body" style="padding:10px;">
    @foreach (var item in Model.Albums)
    {
        <div class="col-sm-3" style="padding:10px;">
            <div class="album panel-float">

                <div class="album-avatar">
                    <a href="/Album/Detail?albumId=@item.AlbumId" title="@item.Title" target="_self"><img src="~/Content/Album/@item.Cover" /></a>
                </div>

                <div class="album-info">
                    <a class="link-no-line text-overflow" href="/Album/Detail?albumId=@item.AlbumId" target="_self" title="@item.Title">@item.Title</a>
                    <small>@item.Summary</small>
                </div>

                <div class="album-bottom">
                    <i class="fa fa-eye"></i><span> &nbsp;@item.AmountAttention</span>
                    <i class="fa fa-heart"></i><span> &nbsp;@item.FollowCount</span>
                    @if (item.UserId != null && !string.IsNullOrEmpty(item.UserId.AsPrimitive().ToString()))
                    {
                        <div class="album-user">
                            <a href="/People/Index?userId=@item.UserId" data-toggle="tooltip" data-placement="top" title="@item.Account" target="_self">
                                <i class="fa fa-user"></i>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>