@using FilmHouse.Core.ValueObjects;
@using FilmHouse.App.Presentation.Web.UI.Models.Components;

@model MovieCommentsHurdleViewModel

@{
    var transfer = ViewBag.Transfer;

    @if (Model.Comments.Count == 0)
    {
        <div class="text-center">
            还没有人评论过这部电影(＃￣▽￣＃)
            @if (Model.IsFinish)
            {
                <span>,</span>
                <a class="link-text" title="插入短评" data-toggle="modal" data-target="#modalCmt">评论一下吧</a>
            }
        </div>
    }
    @foreach (var item in Model.Comments)
    {
        <div class="comment-item">
            <div class="avatar">
                <a class="link-avatar" title="@item.Account" href="/People/Index?id=@item.UserId&transfer=@transfer" target="_self">
                    <img src="~/Content/User/Avatar/@item.UserAvatar" style="width: 54px;height: 54px; border-radius: 27px;">
                </a>
            </div>
            <div class="comment">
                <div>
                    <span>
                        <a title="@item.Account" href="/People/Index?id=@item.UserId" class="link-text" target="_self">@item.Account</a>
                    </span>
                    <span>
                        &nbsp;&nbsp; @item.CommentTime
                    </span>
                </div>
                <p class="">
                    @item.Content
                </p>
            </div>
        </div>
    }
    @if (Model.Comments.Count != 0)
    {
        <div>
            <a class="link-text" href="/Comment/Index?movieId=@Model.Comments.ElementAt(0).MovieId" target="_self">查看全部</a>
        </div>
    }

}
