@using FilmHouse.App.Presentation.Web.UI.Models.Components;
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Http;
@using FilmHouse.Core.ValueObjects;

@model FilmHouse.App.Presentation.Web.UI.Models.SearchInedxViewModel.SearchResultViewModel;

@{
    ViewBag.Title = "分类结果";
    ViewBag.PageType = 2;
    ViewBag.NavType = 2;

    var transfer = new Uri(Context.Request.GetDisplayUrl()).PathAndQuery;
}

@section Links {
    <link rel="stylesheet" asp-append-version="true" href="~/css/search.css" />
}

<div class="panel panel-body text-center no-padding">
    <h4>总共找到 @Model.Count 部电影</h4>
</div>

<div class="panel panel-body">
    @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "form-inline", role = "form" }))
    {
        @Html.HiddenFor(m => m.Search)
        @Html.DropDownList("genre", Model.ListGenre, new { @class = "form-control", style = "margin-right:15px;" })
        @Html.DropDownList("country", Model.ListCountry, new { @class = "form-control", style = "margin-right:15px;" })
        @Html.DropDownList("year", Model.ListYear, new { @class = "form-control", style = "margin-right:15px;" })
        <input type="submit" value="筛选" class="btn btn-primary" />
    }
</div>

<div class="panel panel-default">
    <div class="panel-body" style="padding:10px;">
        @if (Model.ListMovies.Count == 0)
        {
            <div class="text-center">没有找到关于 "@Model.Search" 的结果 (＃￣▽￣＃)</div>
        }

        @foreach (var item in Model.ListMovies)
        {
            <div class="col-md-4 col-sm-6 col-xs-4 panel-float div-movie-back">
                <div class="full-height" style="padding:5px; overflow:hidden; background-color:#F2F2F2;">
                    <div class="full-height no-padding" style="height:170px; width:120px; float:left;">
                        <a class="full-height" href="/Movie/Index?movieId=@item.MovieId" target="_self">
                            <img src="~/Content/Movie/@item.Avatar" title="@item.Title" class="img-responsive full-height full-width" />
                        </a>
                    </div>
                    <div class="hidden-xs" style="margin-left:125px;">
                        <div>
                            <a href="/Movie/Index?movieId=@item.MovieId" class="font-larger" target="_self">
                                <strong title="@item.Title">@item.Title</strong>
                            </a>
                            <a href="http://movie.douban.com/subject/@item.DoubanID/" class="clr-doubangreen" title="跳转到豆瓣电影" target="_self">
                                @item.Rating
                            </a>
                            <span class="label label-info font-small" style="padding:0px 3px;">@item.Year</span>
                        </div>
                        <div>
                            @*导演*@
                            @{
                                var directors = new CelebritiesLinkViewModel();
                                directors.Celebrities = item.Directors.Take(4).ToList();
                                directors.Type = "Directors";
                            }
                            @await Component.InvokeAsync("CelebritiesLink", new { viewModel = directors })
                        </div>
                        <div>
                            @* 类型 *@
                            @await Component.InvokeAsync("MovieGenresHurdle", new { genres = item.GenresValue, count = 4 })
                        </div>
                        <div>
                            <!-- 编剧 -->
                            @{
                                var writers = new CelebritiesLinkViewModel();
                                writers.Celebrities = item.Writers.Take(4).ToList();
                                writers.Type = "Writers";
                            }
                            @await Component.InvokeAsync("CelebritiesLink", new { viewModel = writers })
                        </div>
                        <div>
                            <!-- 演员 -->
                            @{
                                var casts = new CelebritiesLinkViewModel();
                                casts.Celebrities = item.Casts.Take(4).ToList();
                                casts.Type = "Casts";
                            }
                            @await Component.InvokeAsync("CelebritiesLink", new { viewModel = casts })
                        </div>
                    </div>
                    <div class="hidden-xs" style="position:absolute; right:11px; bottom:11px;">
                        <div class="btn-group" role="group">
                            @if (!item.IsPlan)
                            {
                                <a class="btn btn-mark-xs" title="想看" href="/Mark/Create?target=@item.MovieId&type=@MarkTypeVO.Codes.MarkTypeCode1&transfer=@transfer"><span class="glyphicon glyphicon-time"></span></a>
                            }
                            else
                            {
                                <a class="btn btn-mark-xs-inverse" title="取消想看" href="/Mark/Cancel?target=@item.MovieId&type=@MarkTypeVO.Codes.MarkTypeCode1&transfer=@transfer"><span class="glyphicon glyphicon-time"></span></a>
                            }
                            @if (!item.IsFinish)
                            {
                                <a class="btn btn-mark-xs" title="已看" href="/Mark/Create?target=@item.MovieId&type=@MarkTypeVO.Codes.MarkTypeCode2&transfer=@transfer"><span class="glyphicon glyphicon-ok-circle"></span></a>
                            }
                            else
                            {
                                <a class="btn btn-mark-xs-inverse" title="取消已看" href="/Mark/Cancel?target=@item.MovieId&type=@MarkTypeVO.Codes.MarkTypeCode2&transfer=@transfer"><span class="glyphicon glyphicon-ok-circle"></span></a>
                            }
                            @if (!item.IsFavor)
                            {
                                <a class="btn btn-mark-xs" title="喜欢" href="/Mark/Create?target=@item.MovieId&type=@MarkTypeVO.Codes.MarkTypeCode3&transfer=@transfer"><span class="glyphicon glyphicon-heart-empty"></span></a>
                            }
                            else
                            {
                                <a class="btn btn-mark-xs-inverse" title="取消喜欢" href="/Mark/Cancel?target=@item.MovieId&type=@MarkTypeVO.Codes.MarkTypeCode3&transfer=@transfer"><span class="glyphicon glyphicon-heart-empty"></span></a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @* 翻页控件 *@
    @if (Model.PagingCount > 1)
    {
        <div class="panel-footer">
            @FilmHouse.App.Presentation.Web.UI.Helper.Controls.PageTagList(Model.Page, Model.PagingSize, Model.PagingCount, ViewBag.CurrentUrl)
        </div>
    }
</div>
