@using FilmHouse.Commands;
@using FilmHouse.Data.Core.Services.Configuration;
@using Microsoft.AspNetCore.Http;

@inject ISettingProvider settingProvider

@model FilmHouse.Web.Models.HomeViewModel
@{
    Layout = "_LayoutWide";
}

@{
    ViewData["Title"] = "Home Page";
    ViewBag.PageType = 1;
    ViewBag.NavType = 1;

    var requestUrl = $"{Context.Request.Path}{Context.Request.QueryString}";
    var name = settingProvider.GetValue("WebSiteSettings:Name");
}


@section Links {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="hidden-xs" id="index_back">
    <img src="/Content/Discovery/@Model.Discovery.Avatar.AsPrimitive()" title="@Model.Discovery.Movie.Title">
</div>

<div class="container" id="display_back">

    <h1 class="text-center" id="head_title">@name</h1>

    <form action="/Search" class="form-horizontal" id="searchForm" method="post" role="form">
        <div class="input-group input-group-lg col-sm-8 col-sm-offset-2" style="margin-top:20px;">
            <input type="search" class="form-control" placeholder="搜索 电影" style="border-radius:2px 0px 0px 2px; border:1px solid #10761A; box-shadow:0;" name="search">
            <span class="input-group-btn">
                <a title="搜索" class="btn btn-primary" href="javascript:document.getElementById('searchForm').submit()" style="border-radius:0px 2px 2px 0px; border:1px solid #10761A;">
                    <i class="fa fa-search"></i>
                </a>
            </span>
        </div>
    </form>

    <div class="col-sm-8 col-sm-offset-2" style="background:rgba(255, 255, 255, 0.75) !important; padding:10px; margin-top:20px;">
        <div>
            <a class="link-text" href="/Movie/Index?id=@Model.Discovery.Movie.MovieId" title="@Model.Discovery.Movie.Title" target="_self">
                <span class="font-large">@Model.Discovery.Movie.Title</span>
            </a>
            <span class="pull-right">
                评分:
                <a class="clr-doubangreen" title="跳转到豆瓣电影" href="https://movie.douban.com/subject/@Model.Discovery.Movie.DoubanID/">@Model.Discovery.Movie.Rating</a>
            </span>
        </div>
        <div class="font-small" style="max-height:85px; overflow:hidden; text-overflow:ellipsis;">@Model.Discovery.Movie.Summary</div>
        <!-- 可以考虑 visible-xs 在xs尺寸下隐藏以下信息 -->
        <div class="text-overflow font-small">
            导演：
            @foreach (var celebitem in Model.Discovery.Movie.Directors.Take(4))
            {
                if (celebitem.Id != null && !string.IsNullOrEmpty(celebitem.Id.ToString()))
                {
                    <a href="/Celeb/Index?id=@celebitem.Id.ToString()" class="link-text" target="_self">@celebitem.Name</a>
                }
                else
                {
                    <span>@celebitem.Name</span>
                }
            }
        </div>
        <div class="text-overflow font-small">
            演员：
            @foreach (var celebitem in Model.Discovery.Movie.Writers.Take(4))
            {
                if (celebitem.Id != null && !string.IsNullOrEmpty(celebitem.Id.ToString()))
                {
                    <a href="/Celeb/Index?id=@celebitem.Id.ToString()" class="link-text" target="_self">@celebitem.Name</a>
                }
                else
                {
                    <span>@celebitem.Name</span>
                }
            }
        </div>
        <div class="text-overflow font-small">
            类型：
            @foreach (var celebitem in Model.Discovery.Movie.Casts.Take(4))
            {
                if (celebitem.Id != null && !string.IsNullOrEmpty(celebitem.Id.ToString()))
                {
                    <a href="/Celeb/Index?id=@celebitem.Id.ToString()" class="link-text" target="_self">@celebitem.Name</a>
                }
                else
                {
                    <span>@celebitem.Name</span>
                }
            }
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2 text-center hidden-xxs" style="margin-top:30px;">
        @if (Model.Discovery.Movie.IsPlan)
        {
            <a class="link-glyph link-glyph-reverse" href="/Mark/Cancel?target=@Model.Discovery.Movie.MovieId&type=1&returnurl=@requestUrl" title="取消"><span class="glyphicon glyphicon-time"></span></a>
        }
        else
        {
            <a class="link-glyph link-glyph-default" href="/Mark/Create?target=@Model.Discovery.Movie.MovieId&type=1&returnurl=@requestUrl" title="想看"><span class="glyphicon glyphicon-time"></span></a>
        }
        @if (Model.Discovery.Movie.IsFinish)
        {
            <a class="link-glyph link-glyph-reverse" href="/Mark/Cancel?target=@Model.Discovery.Movie.MovieId&type=2&returnurl=@requestUrl" title="取消"><span class="glyphicon glyphicon-ok-circle"></span></a>
        }
        else
        {
            <a class="link-glyph link-glyph-default" href="/Mark/Create?target=@Model.Discovery.Movie.MovieId&type=2&returnurl=@requestUrl" title="看过"><span class="glyphicon glyphicon-ok-circle"></span></a>
        }
        @if (Model.Discovery.Movie.IsFavor)
        {
            <a class="link-glyph link-glyph-reverse" href="/Mark/Cancel?target=@Model.Discovery.Movie.MovieId&type=3&returnurl=@requestUrl" title="取消"><span class="glyphicon glyphicon-heart-empty"></span></a>
        }
        else
        {
            <a class="link-glyph link-glyph-default" href="/Mark/Create?target=@Model.Discovery.Movie.MovieId&type=3&returnurl=@requestUrl" title="喜欢"><span class="glyphicon glyphicon-heart-empty"></span></a>
        }
        <a class="link-glyph link-glyph-default" href="/Home/@Model.Discovery.PrePageIndex" title="上一页"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="link-glyph link-glyph-default" href="/Home/@Model.Discovery.PostPageIndex" title="下一页"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<div class="container no-padding" style="margin-bottom:15px;">
    <div class="col-sm-6">
        <div class="text-left font-large">最新</div>
        <hr />
        <ul class="list-link">
            @foreach (var item in Model.News)
            {
                <li>
                    <a class="link-list-item" href="/Movie/Index?id=@item.MovieId" title="@item.MovieTitle" target="_self">@item.MovieTitle &nbsp;(<span style="display:inline-block;">@item.Year</span>)</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-sm-6">
        <div class="text-left font-large">热门</div>
        <hr />
        <ul class="list-link">

            @foreach (var item in Model.Mosts)
            {
                <li>
                    <a class="link-list-item" href="/Movie/Index?id=@item.MovieId" title="@item.MovieTitle" target="_self">@item.MovieTitle &nbsp;(<span style="display:inline-block;">@item.Year</span>)</a>
                </li>
            }
        </ul>
    </div>
</div>

@section Scripts {
    <script src="~/js/Home/Index.js"></script>
}
