@using FilmHouse.Commands;
@using FilmHouse.Core.Services.Configuration;

@inject ISettingProvider settingProvider

@{
    var subTitle = settingProvider.GetValue("WebSiteSettings:SubTitle");
    var name = settingProvider.GetValue("WebSiteSettings:Name");
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - @name</title>

    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/custom.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/lib/font-awesome/css/font-awesome.css" />

    @await RenderSectionAsync("Links", required: false)

    <script src="~/lib/jquery/jquery.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/respond/respond.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/modernizr/modernizr.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/barba/barba.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true" type="text/javascript"></script>

</head>

<body>
    <div class=".headooooer">
        <partial name="_CookieConsentPartial" />

    </div>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="font-family:'Weston Free'; " title="@subTitle">@name</a>
            </div>
            <div class="navbar-collapse collapse">
                <cache expires-after="@TimeSpan.FromMinutes(30)">
                    @await Component.InvokeAsync("MenuLink", new { navType = ViewBag.NavType })
                </cache>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>

    @if (ViewBag.PageType == 1)
    {
        <div style="background-color:#3B9047; padding:5px; margin-bottom:20px;" class="hidden-xs">
            <div class="container">
                <cache expires-after="@TimeSpan.FromMinutes(30)">
                    @await Component.InvokeAsync("SubMenuLink")
                </cache>
            </div>
        </div>
    }
    else if (ViewBag.PageType == 2)
    {
        <div style="background-color:#3B9047; padding:10px 0px; margin-bottom:20px;">
            <div class="input-group col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <input type="search" class="form-control input-search" placeholder="搜索 电影" name="search" />
                <span class="input-group-btn span-search">
                    <a title="搜索" class="btn btn-default btn-search" href="javascript:document.getElementById('searchForm').submit()">
                        <i class="fa fa-search"></i>
                    </a>
                </span>
            </div>
        </div>
    }

    <div id="barba-wrapper">
        <div class="barba-container">
            @RenderBody()
        </div>
    </div>

    <footer class="site-footer bg-doubangreen" role="contentinfo">
        <div style="height:27px; background-color:#DCDCDC;"></div>
        <div class="site-info" style="padding:40px 0px 30px 0px; margin:0px;">
            <p style="text-align:center; color:#F2F2F2;">
                &copy; 2023 &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/Home/Index" style="font-family:'Weston Free'; color:inherit; text-decoration:underline;" title="@subTitle">@subTitle</a> -
                @Html.ActionLink("Learn More", "Index", "Privacy") .
            </p>
        </div>
    </footer>


</body>

<script src="~/js/site.js" asp-append-version="true" defer="defer"></script>

@await RenderSectionAsync("Scripts", required: false)

</html>
