@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions;

@if (User.Identity.IsAuthenticated)
{
    // 用户已通过身份验证的代码
    <form asp-action="LogOff" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path" method="post" class="navbar-right" id="logoutForm">

        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            <li class="dropdown li-account">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name!<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/Mine/Index/">我的主页</a></li>
                    <li><a href="/Mine/ChangeAvatar/">个人设置</a></li>
                    <li><a href="/Mine/MineMovie?type=1">我的电影</a></li>
                    <li><a href="/Mine/MineAlbum?type=1">我的专辑</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    var fullUrl = Context.Request.GetDisplayUrl();

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("注册", "Register", "Account", routeValues: new { returnUrl = fullUrl }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Login", "Account", routeValues: new { returnUrl = fullUrl }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
