@using FilmHouse.Commands;
@using FilmHouse.Core.Services.Configuration;
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Http;
@using FilmHouse.App.Presentation.Web.UI.Models.Components;

@model FilmHouse.Web.Models.MovieViewModel

@{
    ViewBag.Title = Model.Movie.Title;
    ViewBag.PageType = 2;

    var fullUrl = Context.Request.GetDisplayUrl();
}

@section Links {
    <link rel="stylesheet" asp-append-version="true" href="~/css/movie.css" />
}

@section Scripts {
    <script src="~/lib/smoothscroll/jquery.smooth-scroll.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/Movie/Index.js" asp-append-version="true" defer="defer"></script>
}

<div class="modal fade" id="modalCmt" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Create", "Comment", routeValues: new { movie = Model.Movie.MovieId, returnurl = fullUrl }, method: FormMethod.Post, true, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加内容
                    </h4>
                </div>
                <div class="modal-body" style="padding:15px 50px;">
                    <label class="control-label" for="content" style="margin-top:0px;">简短评论</label>
                    <textarea name="content" id="content" class="form-control" placeholder="请输入评论内容" style="margin-top: 10px; height:99px;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <input type="submit" class="btn btn-primary" value="提交">
                </div>
            }
        </div>
    </div>
</div>


<div class="panel panel-default" style="margin-top:167px;">
    <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
        <img src="~/Content/Movie/@Model.Movie.Avatar" class="img-responsive" title="@Model.Movie.Title" style="width:170px; height:240px;" />
    </div>
    <div>
        <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
            <strong>@Model.Movie.Title&nbsp;&nbsp;&nbsp;&nbsp;@Model.Movie.TitleEn</strong><small style="display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;(@Model.Movie.Year)</small>
        </div>
        <div style="margin-bottom:10px;">
            <!-- 电影操作栏 -->
            @{
                var actionBarViewModel = new FilmHouse.App.Presentation.Web.UI.Models.Components.MovieActionBarViewModel()
            {
                DoubanID = Model.Movie.DoubanID,
                MovieId = Model.Movie.MovieId,
                IsCreate = Model.Movie.IsCreate,
                IsFavor = Model.Movie.IsFavor,
                IsFinish = Model.Movie.IsFinish,
                IsPlan = Model.Movie.IsPlan,
            };
            }
            @* 操作：想看、取消想看、看过、取消看过、喜欢、取消喜欢、修改、更新、删除 *@
            @await Component.InvokeAsync("MovieActionBar", new { viewModel = actionBarViewModel, returnUrl = fullUrl })
        </div>
    </div>

    <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
        <div class="list-tab">
            <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
            <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
            <a href="#resources" id="link-to-resources">&nbsp;&nbsp;资源&nbsp;&nbsp;</a>
            <a href="#comments" id="link-to-comments">&nbsp;&nbsp;评论&nbsp;&nbsp;</a>
        </div>
    </div>
</div>

<div class="col-sm-9 no-padding">

    @*详情*@
    <div class="panel panel-default" id="details">
        <div class="panel-heading text-center">
            ————&nbsp;&nbsp;<strong>电影详情</strong>&nbsp;&nbsp;————
        </div>
        <div class="panel-body">
            <ul style="list-style:none; padding:0px; margin:0px;">
                <li>
                    <span style="color:#808080;">更多电影名:</span>
                    @Html.DisplayFor(model => model.Movie.Aka)
                </li>
                <li>
                    <!-- 导演 -->
                    @await Component.InvokeAsync("CelebritiesLink", new { celebrities = Model.Movie.Directors, type = "Directors" })
                </li>
                <li>
                    <!-- 编剧 -->
                    @await Component.InvokeAsync("CelebritiesLink", new { celebrities = Model.Movie.Writers, type = "Writers" })
                </li>
                <li>
                    <!-- 演员 -->
                    @await Component.InvokeAsync("CelebritiesLink", new { celebrities = Model.Movie.Casts, type = "Casts" })
                </li>
                <li>
                    <span style="color:#808080;">上映日期:</span>
                    @Html.DisplayFor(model => model.Movie.Pubdates)
                </li>
                <li>
                    <span style="color:#808080;">片长:</span>
                    @Html.DisplayFor(model => model.Movie.Durations)
                </li>
                <li>
                    @* 类型 *@
                    @await Component.InvokeAsync("MovieGenresHurdle", new { genres = Model.Movie.GenresValue })
                </li>

                <li>
                    @* 制片国家/地区 *@
                    @await Component.InvokeAsync("MovieCountriesHurdle", new { genres = Model.Movie.CountriesValue })
                </li>

                <li>
                    @* 语言 *@
                    @await Component.InvokeAsync("MovieLanguagesHurdle", new { genres = Model.Movie.LanguagesValue })
                </li>

                <li>
                    <span style="color:#808080;">评分:</span>
                    @Html.DisplayFor(model => model.Movie.Rating)
                </li>

                @if (Model.Movie.DoubanID != null && !string.IsNullOrWhiteSpace(Model.Movie.DoubanID.AsPrimitive()))
                {
                    <li>
                        <span style="color:#808080;">豆瓣链接:</span>
                        <a href="https://movie.douban.com/subject/@Model.Movie.DoubanID/" class="link-text" target="_blank">@Model.Movie.DoubanID</a>
                    </li>
                }

                @if (Model.Movie.IMDbID != null && !string.IsNullOrWhiteSpace(Model.Movie.IMDbID.AsPrimitive()))
                {
                    <li>
                        <span style="color:#808080;">IMDb链接:</span>
                        <a href="http://www.imdb.com/title/@Model.Movie.IMDbID/" class="link-text" target="_blank">@Model.Movie.IMDbID</a>
                    </li>
                }

            </ul>
        </div>
    </div>

    @*简介*@
    <div class="panel panel-default" id="summary">
        <div class="panel-heading text-center">
            ————&nbsp;&nbsp;<strong>剧情介绍</strong>&nbsp;&nbsp;————
        </div>
        <div class="panel-body" id="divbody">
            @await Component.InvokeAsync("MovieSummaryHurdle", new { summary = Model.Movie.Summary })
        </div>
    </div>

    @*资源*@
    <div class="panel panel-default" id="resources">
        <div class="panel-heading text-center">
            ————&nbsp;&nbsp;<strong>所有资源</strong>&nbsp;&nbsp;————
            <div class="pull-right" style="margin-top:-7px;">
                <a class="btn btn-default btn-mark tipup" href="/Ask/Create?id=@Model.Movie.MovieId" title="为 @Model.Movie.Title 求资源" data-toggle="tooltip" data-placement="top">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </a>
                <a class="btn btn-default btn-mark tipup" href="/Resource/Create?id=@Model.Movie.MovieId" title="为 @Model.Movie.Title 添加资源" data-toggle="tooltip" data-placement="top">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="panel-body">
            @{
                var resources = new MovieResourcesHurdleViewModel()
            {
                MovieId = Model.Movie.MovieId,
                Title = Model.Movie.Title,
                Resources = Model.Resources
            };
            }
            @await Component.InvokeAsync("MovieResourcesHurdle", new { movieResources = resources, returnUrl = fullUrl })
        </div>
    </div>

    @*评论*@
    <div class="panel panel-default" id="comments">
        <div class="panel-heading text-center">
            ————&nbsp;&nbsp;<strong>@Model.Movie.Title 的短评</strong>(<a class="link-text" href="/Movie/Comment?movieId=@Model.Movie.MovieId" target="_self">全部 @Model.Movie.CommentCount 条</a>)&nbsp;&nbsp;————
        </div>
        <div class="panel-body">
            @await Component.InvokeAsync("MovieCommentsHurdle", new { comments = Model.Comments, returnUrl = fullUrl, isFinish = Model.Movie.IsFinish })
        </div>
    </div>
</div>

<div class="col-sm-3 div-right">
    @*关注度、我的评论、相关专辑*@
    @{
        var shortReviewViewModel = new MovieShortReviewHurdleViewModel()
        {
            Albums = Model.Albums,
            PersonalReview = Model.PersonalReview,
            FavorCount = Model.Movie.FavorCount,
            FinishCount = Model.Movie.FinishCount,
            IsFinish = Model.Movie.IsFinish,
            PlanCount = Model.Movie.PlanCount
        };
    }
    @await Component.InvokeAsync("MovieShortReviewHurdle", new { viewModel = shortReviewViewModel, returnUrl = fullUrl })
</div>
